{% extends "admin/layout.njk" %}
{% import "parts/section-chefs.njk" as section %}

{% block head %}
  <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

  {{section.chefs('Gerenciar chefs', '', chefs)}}

{% endblock %}