{% extends "admin/layout.njk" %}

{% block content %}
 

<section class="users">

  <div class="users-header">
    <h2>Usuários</h2>
    <a href="/admin/users/create" >Novo Usuário</a>
  </div>
  <div class="users-items">
    {% for user in users %}
        <div class="user" id="{{user.id}}">
            <div class="user-content">
                <p class='name'>{{user.name}}</p>
                <p class='email'>{{user.email}}</p>
                <div class="user-actions">
                    <a href="/admin/users/{{user.id}}/edit">Editar</a>
                    <form id="form-delete" action="/admin/users?_method=DELETE" method="post">
                      <input type="hidden" name="id" value="{{user.id}}">
                      <button class="remove" type="submit">Remover</button>
                    </form>
                </div>
            </div>
            
        </div>
    {%endfor%}
  </div>
</section>

<script>
    const formDelete = document.querySelectorAll("#form-delete")
    formDelete.forEach(form => form.addEventListener("submit", function (event) {
      const confirmation = confirm("Deseja deletar?")
      if (!confirmation) {
        event.preventDefault()
      }
    }))
</script>

{% endblock %}
