{% extends "foodfy/layout.njk" %}

{% block content %}
 
    <div class="board">
        <div class="board-content">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="./layout/assets/119236-OQ05QX-268.png">
    </div>

    <h1 class="above-recipes-foodfy">Mais acessadas</h1>

    <section class="recipes-foodfy">

        {% for recipe in recipes %}
        <div class="recipe-foodfy" id="{{recipe.id}}">
            <div class="recipe-logo">
                <img src={{recipe.files[0].file_path}}>
            </div>
            <div class="recipe-content">
                <p>{{recipe.title}}</p>
                <div class="recipe-info">
                    <p>por {{recipe.chef_name}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

<script>
    const recipes = document.querySelectorAll('.recipe-foodfy');

    for (let recipe of recipes){
        recipe.addEventListener('click', function() {
            const imgId = recipe.getAttribute('id');
            window.location.href = `/recipes/${imgId}`;
        }
        )
    }

</script>

{% endblock %}