{% extends "layout.njk" %}

{% block header %}    

<header class="foodfy">
    
    <div class="container">
        <a href="/">
            <img src="./layout/assets/logo.png" alt="">
        </a>
        <div class="links">
            <a class="link" href="/about">Sobre</a>
            <a class="link" href="/recipes">Receitas</a>
            <a class="link" href="/chefs">Chefs</a>
        </div>
        <form class="search-form" action="/recipes/search" method="GET">
            <input type="text" name="filter" placeholder="Buscar pela receita" value="{{ filter }}"/>
            <button class="button" type="submit">Buscar</button>
        </form>
    </div>
  </header>
            
</header>

{% endblock %}
   