{% extends "layout.njk" %}

{% block header %}    

<header class="foodfy">
    
    <div class="container">
        <a href="/">
            <img src="./layout/assets/logo.png" alt="">
        </a>
        <div class="links">
            <a class="link" href="/about">Sobre</a>
            <a class="link" href="/recipes">Receitas</a>
            <a class="link" href="/chefs">Chefs</a>
        </div>
    </div>
            
</header>

{% endblock %}
   