{% extends "foodfy/layout.njk" %}


{% block content %}

    <h1 class="above-recipes-foodfy">Buscando por '{{search.term}}'</h1>
     <section class="recipes-foodfy">

        {% for recipe in recipes %}
        <div class="recipe-foodfy" id="{{recipe.id}}">
            <div class="recipe-logo">
                <img src={{recipe.image}}>
            </div>
            <div class="recipe-content">
                <p>{{recipe.title}}</p>
                <div class="recipe-info">
                    <p>por {{recipe.chef_name}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}

{% block foot %}
    <script src="/scripts_recipe.js"></script>
{% endblock %}