{% extends "layout.njk" %}

{% block header %}

<header class="admin-header">
    <div class="container">    
      <a href="/admin/recipes">
          <img src="../../layout/assets/adminlogo.png" alt="">
      </a>
      <div class="admin-links">
        <a class="link" href="/admin/recipes">Receitas</a>
        <a class="link" href="/admin/chefs">Chefs</a>
        <a class="link" href="/admin/users">Usuários</a>
      </div>
    </div>
</header>

{% endblock %}