header.session {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 128px;
}

.login {
  max-width: 600px;
  margin: 0 auto;
}

.login .title {
  font-size: 24px;
  color: #111111;
  font-weight: bold;
  text-align: center;
}

.login .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.login .actions a {
  font-size: 16px;
  color: #969696;
  font-weight: bold;
  text-decoration: none;
  transition: 200ms;
}


.login .actions button {
  background: #6558c3;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 36px;
  cursor: pointer;
  transition: 200ms;

}

.login .actions a:hover,
.login .actions button:hover {
  opacity: 0.7;
}