{% extends "admin/layout.njk" %}

{% block content %}
    
    <form class="recipe-form" action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="head-form">
            <h3>Editando receita</h3>
            <div class="buttons">
                <input type="hidden" name="id" value={{recipe.id}}>
                <button type="submit">Salvar receita</button>
            </div>   
        </div>       
            {% include "admin/recipes/fields.njk" %}     
        
    </form>
    <form class="form-delete" action="/admin/recipes?_method=DELETE" method="post">
            
            <input type="hidden" name="id" value={{recipe.id}}>
            <button type="submit">Deletar receita</button>
            
    </form>  
    
    <script>
        function addIngredient() {
            const ingredients = document.querySelector("#ingredients");
            const fieldContainer = document.querySelectorAll(".ingredient");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") return false;

            // Deixa o valor do input vazio
            newField.children[0].value = "";
            ingredients.appendChild(newField);
        }

        function addPreparation() {
            const preparation = document.querySelector("#modo-preparo");
            const fieldContainer = document.querySelectorAll(".modo-prep");

            // Realiza um clone do último ingrediente adicionado
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

            // Não adiciona um novo input se o último tem um valor vazio
            if (newField.children[0].value == "") return false;

            // Deixa o valor do input vazio
            newField.children[0].value = "";
            preparation.appendChild(newField);
        }


        document
        .querySelector(".add-ingredient")
        .addEventListener("click", addIngredient);

        document
        .querySelector(".add-preparation")
        .addEventListener("click", addPreparation);
    
    </script>

{% endblock %}
