{% extends "admin/layout.njk" %}

{% block head %}
  <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
 
    <div class="above-recipes-admin">
        <h3>Gerenciar receitas</h3>
        <a href="/admin/recipes/create">Criar receita</a>
    </div>
    <section class="recipes">

        {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id}}">
            <div class="recipe-logo">
                <img src="{{recipe.files[0].file_path}}">
            </div>
            <div class="recipe-content">
                <p>{{recipe.title}}</p>
                <div class="recipe-info">
                    <p>por {{recipe.chef_name}}</p>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </section>


{% endblock %}