<header>
    {% block header %}

        <div class="links">
        
            {% block links %}
            <a href="/admin/recipes">
                <img src="../../layout/assets/adminlogo.png" alt="">
            </a>
            
            {% endblock %}
        </div>   
     {% endblock %}              
</header>