{% macro chefs(name, classes, chefs) %}

<section class="chefs {{classes}}">

  {% if name %}
    <h2>{{name}}</h2>
  {% endif %}

  <div class="items">
    {% for chef in chefs %}
        <div class="chef" id="{{chef.id}}">
            <div class="chef-logo">
                <img src="{{chef.files[0].file_path}}">
            </div>
            <div class="chef-content">
                <p>{{chef.name}}</p>
                {% if classes == "foodfy-chefs" %}
                <div class="chef-info">
                    <p class="total-recipes">{{chef.total_recipes}} receitas</p>
                </div>
                {% else %}
                <div class="chef-info">
                    <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                </div>

                {% endif %}
            </div>
            
        </div>
    {%endfor%}
  </div>
</section>

{% endmacro %}